[Unit]
Description=GPIO Fan Controller Daemon

[Service]
User=root

ExecStart=/usr/local/sbin/gpio-fan-controller

[Install]
WantedBy=local-fs.target
